<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CnnStr" value="integrated security=SSPI;data source=DESKTOP-4B92DS0\SQLEXPRESS;persist security info=False;initial catalog=CedRent-PF"/>
  </appSettings>
</configuration>