<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\GitHubGalicia\CedRENT\CedRentFIMAAPIPOM\bin\Debug\netcoreapp3.1\CedRentFIMAAPIPOM.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ATTRIBUTES:REQUIRED_ATTRIBUTES:0" value="id_channel" />
          <environmentVariable name="BD_USERNAME" value="usr_cedrentfima" />
          <environmentVariable name="JWT_PUBLIC_CERT" value="C:\CERTIFICADOS\jwtest.cer" />
          <environmentVariable name="BD_PASSWORD" value="123456789" />
          <environmentVariable name="JAEGER_AGENT_PORT" value="4680" />
          <environmentVariable name="URL_POM_HOLIDAYS" value="http://pom-cross-holidays-pocr-cross-dev.devcloud.bancogalicia.com.ar" />
          <environmentVariable name="SERVICES:DATAS:0:NAME" value="POM_FUNCTIONALITIES" />
          <environmentVariable name="JAEGER_AGENT_HOST" value="localhost" />
          <environmentVariable name="TIMEOUT_FUNCTIONALITIES" value="50000" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="SERVICES:DATAS:0:URL" value="http://pom-cross-functionalities-pocr-cross-int.stgcloud.bancogalicia.com.ar/v3/pom/functionalities/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>